
/*====================================
            .block-modal
====================================*/
input.error, textarea.error { border-color: #973d3d; background: #f0bebe; color: #272727; }
input.error:focus, textarea.error:focus { border-color: #973d3d; background: #fff; color: #272727; }

.block-modal {
	display: none;
	text-align: center;

	&__inner {}

		&__header {}
		
		&__appeal {}
}
/*====================================
            fancy
====================================*/
.block-modal .fancybox-close-small {

	&:hover {}
}