
/*====================================
            .block-modal
====================================*/
input.error, textarea.error { border-color: #973d3d; background: #f0bebe; color: #272727; }
input.error:focus, textarea.error:focus { border-color: #973d3d; background: #fff; color: #272727; }

.block-modal {
	display: none;
	text-align: center;

		&__header {}
		
		&__appeal {}

	&_thank {}
}

.modal-form {

	&__input {}

	&__submit {

		&:hover {}
	}
}

/*====================================
            fancy
====================================*/
.block-modal .fancybox-close-small {

	&:hover {}
}