
@import '__settings';

/*====================================
            common
====================================*/
.link-button {
	text-decoration: none;
	outline: none;

	&:hover {}
}

.section-header {
	text-transform: uppercase;
	text-align: center;

	&__decor {}
}